#header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 3em;
}

#canvasBox {
    position: absolute;
    left: 0;
    top: 3em;
    right: 0;
    bottom: 3em;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 3em;
}

#canvas {
    position: absolute;
}

#slider {
    width: 99%;
}